<div class="col-md-12">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{recipe?.url}}">
    <div class="card-body">
      <p class="card-text">{{recipe.name}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">Rating</small>
        <small class="text-muted">{{recipe?.rating}}</small>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-block btn-outline-success">Order</button>
      </div>
    </div>
  </div>
</div>